In [146]:
import numpy as np
from sklearn.model_selection import train_test_split
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [147]:
df=pd.read_csv("loan_approval_data.csv")
df.head()

,Applicant_ID,Applicant_Income,Coapplicant_Income,Employment_Status,Age,Marital_Status,Dependents,Credit_Score,Existing_Loans,DTI_Ratio,Savings,Collateral_Value,Loan_Amount,Loan_Term,Loan_Purpose,Property_Area,Education_Level,Gender,Employer_Category,Loan_Approved
0,1.0,17795.0,1387.0,Salaried,51.0,Married,0.0,637.0,4.0,0.53,19403.0,45638.0,16619.0,84.0,Personal,Urban,Not Graduate,Female,Private,No
1,2.0,2860.0,2679.0,Salaried,46.0,Married,3.0,621.0,2.0,0.30,2580.0,49272.0,38687.0,NaN,Car,Semiurban,Graduate,NaN,Private,No
2,3.0,7390.0,2106.0,Salaried,25.0,Single,2.0,674.0,4.0,0.20,13844.0,6908.0,27943.0,72.0,NaN,Urban,NaN,Female,Government,Yes
3,4.0,13964.0,8173.0,Salaried,40.0,Married,2.0,579.0,3.0,0.31,9553.0,10844.0,27819.0,60.0,Business,Rural,Graduate,Female,Government,No
4,5.0,13284.0,4223.0,Self-employed,31.0,Single,2.0,721.0,1.0,0.29,9386.0,37629.0,12741.0,72.0,Car,NaN,Graduate,Male,Private,Yes

In [148]:
df=df.drop("Applicant_ID",axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Applicant_Income    950 non-null    float64
 1   Coapplicant_Income  950 non-null    float64
 2   Employment_Status   950 non-null    object
 3   Age                 950 non-null    float64
 4   Marital_Status      950 non-null    object
 5   Dependents          950 non-null    float64
 6   Credit_Score        950 non-null    float64
 7   Existing_Loans      950 non-null    float64
 8   DTI_Ratio           950 non-null    float64
 9   Savings             950 non-null    float64
 10  Collateral_Value    950 non-null    float64
 11  Loan_Amount         950 non-null    float64
 12  Loan_Term           950 non-null    float64
 13  Loan_Purpose        950 non-null    object
 14  Property_Area       950 non-null    object
 15  Education_Level     950 non-null    object
 16  Gender              950 non-null    object
 17  Employer_Category   950 non-null    object
 18  Loan_Approved       950 non-null    object
dtypes: float64(11), object(8)
memory usage: 148.6+ KB

In [149]:
df.isnull().sum()

Applicant_Income      50
Coapplicant_Income    50
Employment_Status     50
Age                   50
Marital_Status        50
Dependents            50
Credit_Score          50
Existing_Loans        50
DTI_Ratio             50
Savings               50
Collateral_Value      50
Loan_Amount           50
Loan_Term             50
Loan_Purpose          50
Property_Area         50
Education_Level       50
Gender                50
Employer_Category     50
Loan_Approved         50
dtype: int64

Handle Missing Values

In [150]:
# numerical_col=df.select_dtypes(include=["float64","int64"]).columns
# or 
numerical_col=df.select_dtypes(include=["number"]).columns
categorical_col=df.select_dtypes(include=["object"]).columns

In [151]:
numerical_col

Index(['Applicant_Income', 'Coapplicant_Income', 'Age', 'Dependents',
       'Credit_Score', 'Existing_Loans', 'DTI_Ratio', 'Savings',
       'Collateral_Value', 'Loan_Amount', 'Loan_Term'],
      dtype='object')

Filling Null values using Imputer

In [152]:
#For Numericl columns
from sklearn.impute import SimpleImputer
num_imp=SimpleImputer(strategy="mean")
df[numerical_col]=num_imp.fit_transform(df[numerical_col])

In [ ]:
df.head()

In [ ]:
#For Categorical columns
from sklearn.impute import SimpleImputer
cat_imp=SimpleImputer(strategy="most_frequent")
df[categorical_col]=cat_imp.fit_transform(df[categorical_col])

In [ ]:
df.head()

EDA Explortory Data Analysis

In [ ]:
#differance of loan approve
(df["Loan_Approved"] == "Yes").sum()

In [ ]:
(df["Loan_Approved"] == "No").sum()

In [ ]:
count_values=df["Loan_Approved"].value_counts()
plt.pie(count_values,labels=["No","Yes"],autopct="%1.1f%%")
plt.title("Loan approved ")

In [ ]:
gender_count=df["Gender"].value_counts()
gender_count=df[""].value_counts()
ax=sns.barplot(gender_count)
ax.set_title("Male and Female Comperation")
ax.bar_label(ax.containers[0])

In [ ]:
gender_count=df["Gender"].value_counts()
loan_approv_count=df[df["Loan_Approved"]=="Yes"]["Gender"].value_counts()
ax=sns.barplot(x=gender_count.index,y=loan_approv_count.values)
ax.bar_label(ax.containers[0])
ax.set_title("Loan Approvel Compertion between Male and Female" )

In [ ]:
edu_count=df["Education_Level"].value_counts()
ax=sns.barplot(edu_count)
ax.set_title("Education_Level Comparison")
ax.bar_label(ax.containers[0])

In [ ]:
# Income Analysis

ax=sns.histplot(
    data=df,
    x="Applicant_Income",
    bins=20
)
ax.set_title("Applicant Monetely Income")

In [ ]:
ax=sns.histplot(
    data=df,
    x="Coapplicant_Income",
    bins=20
)
ax.set_title("Co-Applicant Monetely Income")

In [ ]:
#outliers -box plot
ax=sns.boxplot(
    data=df,
    x="Loan_Approved",
    y="Applicant_Income"
)
ax.set_title("Outliers detection between Loan approved and applicant Income")

In [ ]:
#outliers -box plot
ax=sns.boxplot(
    data=df,
    x="Loan_Approved",
    y="Applicant_Income"
)
ax.set_title("Outliers detection between Loan approved and applicant Income")

In [ ]:
df.columns
fig,axes=plt.subplots(2,2)
sns.boxplot(ax=axes[0,0],data=df,x="Loan_Approved",y="Age")
sns.boxplot(ax=axes[0,1],data=df,x="Loan_Approved",y="Credit_Score")
sns.boxplot(ax=axes[1,0],data=df,x="Loan_Approved",y="DTI_Ratio")
sns.boxplot(ax=axes[1,1],data=df,x="Loan_Approved",y="Savings")
plt.tight_layout()

In [ ]:
# comparison between Credit Score and Loan Approval
sns.histplot(
                data=df,
              x="Credit_Score",
              hue="Loan_Approved",
                bins=20,
    multiple="dodge"
                )

In [ ]:
sns.histplot(
                data=df,
              x="Applicant_Income",
              hue="Loan_Approved",
                bins=20,
    multiple="dodge"
                )